

.header {
    height: 70px;
    display: flex;
    padding: 30px 40px;
    background: #8a90c8;
    color: #383c57;
    box-shadow: 0 18px 0px 5px rgba(138, 144, 200, 0.48), 0 34px 0px 5px rgba(138, 144, 200, 0.48), 0 47px 0px 5px rgba(138, 144, 200, 0.48);
    justify-content: space-between;

    
}

.header span.logo {
    display: flex;
    /* text-shadow: -5px 4px #414563; */
    /* animation: text-shadow-translate 3s cubic-bezier(0.96, 0.02, 0.01, 0.99) infinite alternate; */

    
    display: flex;
}

div.logo {
    display: flex;
}

span.sub-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    font-size: 22px;
    font-style: italic;
    color: rgba(69, 73, 106, 0.42);
}

.header h1 {
    margin: 0;
    font-size: 51px;
    font-family: 'Lobster', cursive;
    color: #383c57;
    text-shadow: 0 0 transparent;
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Tajawal', sans-serif; */
    
    /* transform: rotate(-360deg); */
    /* animation: text-shadow-translate 3s cubic-bezier(1, -0.56, 0, 1.51) infinite alternate; */
    animation: text-shadow-translate 3s cubic-bezier(1, -0.56, 0, 1.51) infinite alternate;
}
.title {
    padding-top: 6px;
    padding-left: 3px;
    /* font-style: italic; */
    text-decoration: underline;
    font-family: 'Lobster', cursive;
    /* font-family: 'Shrikhand', cursive; */
    font-family: 'Tajawal', sans-serif;
    transform: skew(-12deg);
    font-size: 34px;
}

@keyframes text-shadow-translate{
    100% {
        color: transparent;
        text-shadow: -13px 8px #5c6084, 13px -8px #bec3f6, -13px -8px rgba(190, 195, 246, 0.36), 16px 8px rgba(65, 69, 99, 0.44);
        
        /* transform: rotate(0deg); */
        /* color: rgba(85, 91, 132, 0.34);
        text-shadow: 5px -4px #414563; */
    }
}

label.some-text {
    vertical-align: middle;
    margin-right: 35px;
    color: #e9ebff;
    font-size: 25px;
}
.some-button{
  width: 168px;
  height: 45px;
  margin: auto 0;
  border-radius: 40px;
  border: 2px solid;
  outline: none;
  font-size: 18px;
  color: #e0e3ff;
  background: transparent;
  cursor: pointer;
}
.some-button:active {
    color: #8a90c8;
    background: #e0e3ff;
    border-color: #e0e3ff;
}