body {
    font-size: 34px;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Lobster', cursive; */
}

.wrapper {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  margin: 70px 100px 45px;
  overflow: auto;
  background: #e9ebfa;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
  background: #383c57;
}

.content {
    padding: 52px 0 30px;
    min-height: calc(100vh - 130px - 115px - 82px);
}

.tabs {
    padding: 0 40px;
  display: flex;
  background: #53587e;
  color: #8289bf;
}


.tab-content {
    padding: 0 40px;
}
.tab-content > h1 {
    color: #cfd3fa;
    margin-bottom: 14px;
}
.tab-content label {
    color: #6e728f;
    font-size: 32px;
    text-align: justify;
}
.tabs .tab {
    padding: 0 20px;
  cursor: pointer;
  user-select: none;
  transition: all 239ms cubic-bezier(0, 0, 0.2, 1);
}
.tabs .tab.active {
    background: #383c57;
  color: #eaedff;
  padding: 0 70px;
}