body, html, div#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #686d9b;
    font-size: 34px;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Lobster', cursive; */
}

.wrapper {
    display: flex;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  margin: 70px 100px 0;
  overflow: auto;
  background: #e9ebfa;
  border-radius: 5px;
  box-shadow: 0 2px 40px #464968;
}

.content {
    padding: 30px 40px;
}